In [5]:
from itertools import count

tup1=("bag", "book", "copy", "lunch box", "pencil box")
tup2=(5, 10, 15, 20, 25, 30, 35)
tup3= tup1[:]
tup4= tup2[1:5]

In [6]:
print(tup3)
print(tup4)

('bag', 'book', 'copy', 'lunch box', 'pencil box')
(10, 15, 20, 25)

In [9]:
planets =['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [10]:
print(planets[5])
print(planets[2*2])
print(planets[-4])
print(planets[2:6])
print(planets[2:6:2])
print(planets[:4])
print(planets[2:])
print(planets[::2])
print(planets[::-2])
print(planets[-5:-1])
print(planets[5:2:-2])
print(planets[-2:-5:-1])
print(planets[-1:-5:-2])

Saturn
Jupiter
Jupiter
['Earth', 'Mars', 'Jupiter', 'Saturn']
['Earth', 'Jupiter']
['Mercury', 'Venus', 'Earth', 'Mars']
['Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Earth', 'Jupiter', 'Uranus']
['Neptune', 'Saturn', 'Mars', 'Venus']
['Mars', 'Jupiter', 'Saturn', 'Uranus']
['Saturn', 'Mars']
['Uranus', 'Saturn', 'Jupiter']
['Neptune', 'Saturn']

In [14]:
monuments=[ 'Kutub Minar', 10, 'Taj Mahal', 20, 'India Gate', 30, 'Char Minar', 40]
states=['Delhi', 'Kerala', 'Tamil Nadu', 'Bihar']

In [6]:
mon = list(monuments)
mon.extend(['Red Fort', 'Jantar Mantar'])
print(tuple(mon))

('Kutub Minar', 10, 'Taj Mahal', 20, 'India Gate', 30, 'Char Minar', 40, 'Red Fort', 'Jantar Mantar')

In [8]:
mon = list(monuments) + ['50']
print(tuple(mon))

('Kutub Minar', 10, 'Taj Mahal', 20, 'India Gate', 30, 'Char Minar', 40, '50')

In [9]:
mon = list(monuments) + list(states)
print(tuple(mon))

['Kutub Minar', 10, 'Taj Mahal', 20, 'India Gate', 30, 'Char Minar', 40, 'Delhi', 'Kerala', 'Tamil Nadu', 'Bihar']

In [12]:
mon = list(monuments)
mon[2], mon[3], mon[4] = 'India', 'India', 'India'
print(tuple(mon))

('Kutub Minar', 10, 'India', 'India', 'India', 30, 'Char Minar', 40)

In [ ]:
mon = list(monuments)
del mon[2]
print(tuple(mon))

In [13]:
monuments = ()

In [16]:
states_updated = list(states) * 2
print(tuple(states_updated))

('Delhi', 'Kerala', 'Tamil Nadu', 'Bihar', 'Delhi', 'Kerala', 'Tamil Nadu', 'Bihar')

In [17]:
print(20 in monuments)

True

In [18]:
monuments, states = states, monuments
print(monuments, states)

['Delhi', 'Kerala', 'Tamil Nadu', 'Bihar'] ['Kutub Minar', 10, 'Taj Mahal', 20, 'India Gate', 30, 'Char Minar', 40]

In [20]:
for i in states:
    print(i)

Delhi
Kerala
Tamil Nadu
Bihar

In [21]:
planets=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
states=['Delhi', 'Kerala', 'Tamil Nadu', 'Bihar', 'Delhi']

In [22]:
planets = planets + 'Tamil'

TypeError: can only concatenate list (not "str") to list

In [23]:
states = states * 2
print(states)

['Delhi', 'Kerala', 'Tamil Nadu', 'Bihar', 'Delhi', 'Delhi', 'Kerala', 'Tamil Nadu', 'Bihar', 'Delhi']

In [24]:
len(planets)

8

In [25]:
max(planets)

'Venus'

In [26]:
min(planets)

'Earth'

In [30]:
count('Delhi')

NameError: name 'count' is not defined

In [32]:
tup = eval(input("Enter a tuple: "))
print(max(tup))

4

In [ ]:
tup = eval(input("Enter a tuple: "))
print(min(tup))

In [33]:
tup = eval(input("Enter a tuple: "))
print(sum(tup))

6

In [36]:
tup = eval(input("Enter a tuple: "))
print(sum(tup)/ len(tup))

2.0

In [37]:
dance = tuple(input("Enter a tuple: "))
elem_add = input("Enter an dance form to add: ")
print(list(dance) + [elem_add])

['(', '1', ',', '2', ',', '3', ')', '"HI"']

In [1]:
a = ((1,2,3), (4,5,6), (7,8,9))
search = eval(input("Please enter number to search > "))
status = False
for i in a:
    for j in i:
        if j == search:
            status = True
            break
print(status)

True